@import './base.css';
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    width: 100%;
    padding: 1.5rem 0rem;
    min-width: 720px;
    overflow-x: auto
}

main {
    margin: 2.5rem 15rem 5rem 15rem;
}

@media (max-width: 1200px) {
    main {
        margin: 2.5rem 5rem 5rem 5rem;
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.p-dialog-maximize-button {
    display: none !important;
}

@media (hover: hover) {
    a:hover {
        color: rgb(61, 164, 122);
    }
    
    .p-button:hover .p-button-icon {
        color: rgb(61, 164, 122);
    }
}